body{
 background-image: url(./assets/download.jfif);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}


h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}